@media only screen and (max-width: 1000px) {
    .suggestions {
        display: none;
    }
}
.suggestions-container{
    padding: 1rem .7rem;
}
.suggestions-user-profile{
    display: flex;
    align-items: center;
}
.suggestions-header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 14px;
}
.suggestionsForYou{
    display: flex;
    flex-direction: column;
}