.small-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.medium-profile {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}