.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
}
nav{
    padding: .2rem 0;
    background-color: white;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.insta-logo{
    width: 110px;
    height: auto;
}