.post-item {
    background-color: white;
    margin: 1rem 0;
    border-radius: 3px;
    border: 1px solid rgb(207, 207, 207);
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.post-header-nickname{
    display: flex;
    align-items: center;
}
.post-image img {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.post-comment hr{
    border: 1px solid rgb(207, 207, 207);
}
.post-comment-form{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid rgb(209, 209, 209);
}
.post-comment-form input[type="text"]{
    border: none;
    width: 100%;
    padding: 4px 8px;
}
.post-comment-form button{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #1F45FC;
}