*{
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
main{
  margin-top: .2rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 935px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}